<div
  class="grid mb-8 border border-gray-200 rounded-lg shadow-xs md:mb-12 md:grid-cols-2 bg-white"
>
  <figure
    class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-ss-lg md:border-e"
  >
    <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8">
      <h3 class="text-lg font-semibold text-gray-900">Envío rapido</h3>
      <p class="my-4">Recibe tu mueble en el menor tiempo posible.</p>
    </blockquote>
    <figcaption class="flex items-center justify-center">
      <img
        class="w-9 h-9"
        src="/benefitsIcons/envio-rapido.png"
        alt="profile picture"
      />
    </figcaption>
  </figure>
  <figure
    class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 md:rounded-se-lg"
  >
    <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8">
      <h3 class="text-lg font-semibold text-gray-900">Compra por WhatsApp</h3>
      <p class="my-4">Haz tu pedido en segundos, sin complicaciones.</p>
    </blockquote>
    <figcaption class="flex items-center justify-center">
      <img
        class="w-9 h-9"
        src="/benefitsIcons/whatsapp.png"
        alt="profile picture"
      />
    </figcaption>
  </figure>
  <figure
    class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 md:rounded-es-lg md:border-b-0 md:border-e"
  >
    <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8">
      <h3 class="text-lg font-semibold text-gray-900">Muebles a medida</h3>
      <p class="my-4">Diseños que se adaptan a tu espacio y estilo.</p>
    </blockquote>
    <figcaption class="flex items-center justify-center">
      <img
        class="w-9 h-9"
        src="/benefitsIcons/cajon.png"
        alt="profile picture"
      />
    </figcaption>
  </figure>
  <figure
    class="flex flex-col items-center justify-center p-8 text-center bg-white border-gray-200 rounded-b-lg md:rounded-se-lg"
  >
    <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8">
      <h3 class="text-lg font-semibold text-gray-900">
        Compra sin necesidad de registro
      </h3>
      <p class="my-4">No necesitas crear una cuenta para comprar.</p>
    </blockquote>
    <figcaption class="flex items-center justify-center">
      <img
        class="w-9 h-9"
        src="/benefitsIcons/confianza-del-usuario.png"
        alt="profile picture"
      />
    </figcaption>
  </figure>
</div>
