<!-- component --><!-- This is an example component -->
<div class="w-full mx-auto">
  <div id="default-carousel" class="relative" data-carousel="static">
    <!-- Carousel wrapper -->
    <div class="overflow-hidden relative w-full aspect-[16/9]">

      <!-- Item 1 -->
      <div class="block duration-700 ease-in-out" data-carousel-item>
        <img
          src="/carousel/carrusel1.webp"
          class="block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2"
          alt="..."
        />
        <!-- Botón sobre la imagen -->
        <a href="/categorias/dormitorio">
          <button
            id="verMasBtn"
            class="absolute bottom-10 left-1/2 transform -translate-x-1/2 bg-transparent border-2 border-black font-bold text-black px-4 py-2 text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl px-6 py-3 lg:px-8 lg:py-4 cursor-pointer"
          >
            VER MÁS
          </button>
        </a>
      </div>
      <script>
        // Función que ajusta la clase del botón según el tamaño de la pantalla
        function adjustButtonPosition() {
          const button = document.getElementById("verMasBtn");
          if (window.innerWidth >= 1024) {
            // Si el ancho de la ventana es grande (PC)
            button.classList.remove(
              "left-1/2",
              "transform",
              "-translate-x-1/2"
            );
            button.classList.add("lg:bottom-50", "lg:right-64", "lg:left-auto");
          } else {
            // En dispositivos móviles
            button.classList.remove(
              "lg:bottom-50",
              "lg:right-64",
              "lg:left-auto"
            );
            button.classList.add(
              "bottom-10",
              "left-1/2",
              "transform",
              "-translate-x-1/2"
            );
          }
        }

        // Llamar a la función para ajustar la posición al cargar la página
        adjustButtonPosition();

        // Ajustar la posición si se cambia el tamaño de la ventana
        window.addEventListener("resize", adjustButtonPosition);
      </script>
      <div class="block duration-700 ease-in-out" data-carousel-item>
        <img
          src="/carousel/carrusel2.webp"
          class="block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2"
          alt="..."
        />
        <a href="/categorias/dormitorio">
          <button
            id="verMasBtn2"
            class="absolute bottom-10 left-1/2 transform -translate-x-1/2 bg-transparent border-2 border-black font-bold text-black px-4 py-2 text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl px-6 py-3 lg:px-8 lg:py-4 cursor-pointer"
          >
            VER MÁS
          </button>
        </a>
      </div>
      <script>
        // Función que ajusta la clase del botón según el tamaño de la pantalla
        function adjustButtonPosition() {
          const button = document.getElementById("verMasBtn2");
          if (window.innerWidth >= 1024) {
            // Si el ancho de la ventana es grande (PC)
            button.classList.remove(
              "left-1/2",
              "transform",
              "-translate-x-1/2"
            );
            button.classList.add("lg:bottom-50", "lg:right-64", "lg:left-auto");
          } else {
            // En dispositivos móviles
            button.classList.remove(
              "lg:bottom-50",
              "lg:right-64",
              "lg:left-auto"
            );
            button.classList.add(
              "bottom-10",
              "left-[40%]", // Mueve el botón ligeramente a la izquierda
              "transform",
              "-translate-x-1/2"
            );
          }
        }

        // Llamar a la función para ajustar la posición al cargar la página
        adjustButtonPosition();

        // Ajustar la posición si se cambia el tamaño de la ventana
        window.addEventListener("resize", adjustButtonPosition);
      </script>
      <!-- Item 3 -->
      <div class="block duration-700 ease-in-out" data-carousel-item>
        <img
          src="/carousel/carrusel3.webp"
          class="block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2"
          alt="..."
        />
        <a href="/categorias/dormitorio">
          <button
            id="verMasBtn3"
            class="absolute bottom-10 left-1/2 transform -translate-x-1/2 bg-transparent border-2 border-black font-bold text-black px-4 py-2 text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl px-6 py-3 lg:px-8 lg:py-4 cursor-pointer transform -translate-x-1/2 -translate-y-1/2 bg-black/50"
          >
            VER MÁS
          </button>
        </a>
      </div>
      <script>
        // Función que ajusta la clase del botón según el tamaño de la pantalla
        function adjustButtonPosition() {
          const button = document.getElementById("verMasBtn3");
          if (window.innerWidth >= 1024) {
            // Si el ancho de la ventana es grande (PC)
            button.classList.remove(
              "left-1/2",
              "transform",
              "-translate-x-1/2"
            );
            button.classList.add("lg:bottom-40", "lg:left-72", "lg:right-auto");
          } else {
            // En dispositivos móviles
            button.classList.remove(
              "lg:bottom-40",
              "lg:left-72",
              "lg:right-auto"
            );
            button.classList.add(
              "bottom-10",
              "left-1/2",
              "transform",
              "-translate-x-1/2"
            );
          }
        }

        // Llamar a la función para ajustar la posición al cargar la página
        adjustButtonPosition();

        // Ajustar la posición si se cambia el tamaño de la ventana
        window.addEventListener("resize", adjustButtonPosition);
      </script>
    </div>

    <script>
      const carousel = document.querySelector('#default-carousel');
      let touchStartX = 0;
      let touchEndX = 0;
    
      function handleGesture() {
        if (touchEndX < touchStartX - 50) {
          // Swipe hacia la izquierda
          carousel.querySelector('[data-carousel-next]').click();
        }
        if (touchEndX > touchStartX + 50) {
          // Swipe hacia la derecha
          carousel.querySelector('[data-carousel-prev]').click();
        }
      }
    
      carousel.addEventListener('touchstart', e => {
        touchStartX = e.changedTouches[0].screenX;
      });
    
      carousel.addEventListener('touchend', e => {
        touchEndX = e.changedTouches[0].screenX;
        handleGesture();
      });
    </script>
    

    <!-- Slider indicators -->
    <div
      class="flex absolute bottom-5 left-1/2 z-30 space-x-3 -translate-x-1/2"
    >
      <button
        type="button"
        class="w-3 h-3 rounded-full"
        aria-current="false"
        aria-label="Slide 1"
        data-carousel-slide-to="0"></button>
      <button
        type="button"
        class="w-3 h-3 rounded-full"
        aria-current="false"
        aria-label="Slide 2"
        data-carousel-slide-to="1"></button>
      <button
        type="button"
        class="w-3 h-3 rounded-full"
        aria-current="false"
        aria-label="Slide 3"
        data-carousel-slide-to="2"></button>
    </div>
    <!-- Slider controls -->
    <button
      type="button"
      class="flex absolute top-0 left-0 z-30 justify-center items-center px-4 h-full cursor-pointer group focus:outline-none"
      data-carousel-prev
    >
      <span
        class="inline-flex justify-center items-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
      >
        <svg
          class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 19l-7-7 7-7"></path></svg
        >
        <span class="hidden">Previous</span>
      </span>
    </button>
    <button
      type="button"
      class="flex absolute top-0 right-0 z-30 justify-center items-center px-4 h-full cursor-pointer group focus:outline-none"
      data-carousel-next
    >
      <span
        class="inline-flex justify-center items-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
      >
        <svg
          class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5l7 7-7 7"></path></svg
        >
        <span class="hidden">Next</span>
      </span>
    </button>
  </div>

  <script src="https://unpkg.com/flowbite@1.4.0/dist/flowbite.js"></script>
</div>
