<div class="bg-white">
  <div
    class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8"
  >
    <div
      class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8"
    >
      <div class="group relative">
        <img
          src="https://ccemwfvezjyueolxfeir.supabase.co/storage/v1/object/public/muebleria/organizador%20prisma/1%20(2).png"
          alt="Front of men's Basic Tee in black."
          class="aspect-square w-full rounded-md bg-gray-200 object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80"
        />
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <a href="/products/8">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Organizador Prisma
              </a>
            </h3>
            <p class="text-sm text-red-500 font-bold m-2 mt-5">S/. 350</p>
            <p class="text-sm font-medium text-gray-600 m-2 line-through">
              S/. 450
            </p>Z
          </div>
        </div>
      </div>

      <div class="group relative">
        <img
          src="https://ccemwfvezjyueolxfeir.supabase.co/storage/v1/object/public/muebleria/escritorio%20Aurora/WhatsApp_Image_2025-03-02_at_4.48.34_PM__3_-removebg-preview.png"
          alt="Front of men's Basic Tee in black."
          class="aspect-square w-full rounded-md bg-gray-200 object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80"
        />
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <a href="/products/10">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Escritorio Aurora
              </a>
            </h3>
            <p class="text-sm text-red-500 font-bold m-2 mt-5">S/. 320</p>
            <p class="text-sm font-medium text-gray-600 m-2 line-through">
              S/. 400
            </p>
          </div>
        </div>
      </div>

      <div class="group relative">
        <img
          src="https://ccemwfvezjyueolxfeir.supabase.co/storage/v1/object/public/muebleria/velador%20luxor%20/WhatsApp_Image_2025-03-02_at_5.01.51_PM-removebg-preview.png"
          alt="Front of men's Basic Tee in black."
          class="aspect-square w-full rounded-md bg-gray-200 object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80"
        />
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <a href="/products/12">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Velador Luxor
              </a>
            </h3>
            <p class="text-sm text-red-500 font-bold m-2 mt-5">S/. 320</p>
            <p class="text-sm font-medium text-gray-600 m-2 line-through">
              S/. 400
            </p>
          </div>
        </div>
      </div>

      <div class="group relative">
        <img
          src="https://ccemwfvezjyueolxfeir.supabase.co/storage/v1/object/public/muebleria/comoda%20lunaria/WhatsApp_Image_2025-03-02_at_5.15.53_PM-removebg-preview.png"
          alt="Front of men's Basic Tee in black."
          class="aspect-square w-full rounded-md bg-gray-200 object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80"
        />
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <a href="/products/6">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Cómoda Lunaria
              </a>
            </h3>
            <p class="text-sm text-red-500 font-bold m-2 mt-5">S/. 210</p>
            <p class="text-sm font-medium text-gray-600 m-2 line-through">
              S/. 290
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
