<footer class="bg-gray-100 text-gray-900 py-4">
  <!-- Banner de Empresa -->

  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 text-center md:text-left">
      <!-- Contacto -->
      <div>
        <h6 class="font-bold text-lg mb-2">CONTACTO</h6>
        <p class="text-sm mb-2">
          Dirección: Calle Amazonas Lote 2 - Mariscal Nieto, Moquegua
        </p>
        <p class="text-sm mb-2">Teléfono: 978 983 030</p>
        <p class="text-sm mb-2">Email: adeabel_bass@hotmail.com</p>
        <p class="text-sm mb-2">Horario: Lunes a Domingo de 08:00am a 8:30pm</p>
      </div>

      <!-- Servicio al Cliente -->
      <div>
        <h6 class="font-bold text-lg mb-2">SERVICIO AL CLIENTE</h6>
        <ul class="space-y-2">
          <li>
            <a href="/terminoscondiciones"> Términos y condiciones </a>
          </li>
          <li>
            <a href="/terminoscondiciones"> Política de envíos </a>
          </li>
          <li>
            <a href="#">Sobre nosotros</a>
          </li>
        </ul>
      </div>

      <!-- Redes Sociales -->
    </div>

    <hr class="my-4 border-gray-300" />

    <!-- Derechos de Autor -->
    <div class="text-center text-sm">
      <p class="mb-0">
        &copy; 2025 COMERCIAL PIERO |
        <a href="/privacypolicy"> Políticas de privacidad </a>
      </p>
    </div>
  </div>
</footer>
